.maina {
	padding: 10px;
	column-count:8;
	column-gap: 10px;
	 
}

.card {
	break-inside: avoid;
	margin-bottom: 10px;
	width: 100%;
}

.cardImg {
	width: 100%;
	height: auto;
	border-radius: 13px;
	object-fit: cover;
}

@media (max-width: 1200px) {
	.maina {
		column-count: 3;
	}
}
@media (max-width: 768px) {
	.maina {
		column-count: 2;
		padding: 10px;
	}
}
@media (max-width: 480px) {
	.maina {
		padding: 2px;
		column-count: 2;
	}
}
