.user-main {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
.user-info {
	height: 110px;
	width: 100%;
	border-bottom: 2px solid #9a9a9a;
	display: flex;
	align-items: center;
}
.user-info-pp {
	height: 90px;
	width: 95px;
	border-radius: 50%;
	margin: 10px;
}
.user-info-name {
	font-size: 22px;
}
.user-imgs {
	height: 100%;
	width: 100%;
	display: grid;
	align-items: center;
}
.user-imgs-links-area {
	border-bottom: 2px solid #9a9a9a;
	height: 50px;
	background-color: #fff;
	display: flex;
	align-items: center;
	gap: 20px;
	padding-left: 10px;
}
.user-imgs-links-area > button {
	padding: 8px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 500;
}
.user-imgs-data-area {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.user-imgs-data-area > * {
	padding: 8px;
}
.user-images {
	border: 2px solid #9a9a9a;
	margin: 5px;
	border-radius: 14px;
	display: grid;
	height: 450px;
	width: 400px;
	justify-content: center;
	align-items: center;
}
.user-images-img {
	height: 300px;
	width: 100%;
	object-fit: contain;
}

.idk {
	height: 90%;
	width: 100%;
	background-color: white;
	border-radius: 15px;
	padding: 4px;
	overflow-y: auto;
	overflow-x: hidden;
}
.ab {
	background-color: white;
	height: 85%;
	width: 100%;

	display: grid;
	align-items: center;
}

.b {
	background-color: white;
	height: 15%;
	margin-top: 10px;
	border: 2px solid rgba(136, 135, 135, 0.813);
	border-radius: 10px;
	width: 100%;
}

.update-name {
	border: 2px solid rgba(136, 135, 135, 0.813);
	width: 100%;
	height: 100px;
	border-radius: 10px;
	background-color: #fff;
}
.update-name > * {
	padding: 8px;
}
.update-img {
	width: 100%;
	border-radius: 10px;
	border: 2px solid rgba(136, 135, 135, 0.813);

	background-color: white;
	height: 100%;
	overflow: hidden;
}
.update-img > * {
	padding: 5px;
}
.likes-and-name {
	display: grid;
	align-items: center;
	gap: 5;
	font-size: 20;

	width: 100%;
	height: 70px;
}
.likes-and-name > * {
	padding: 5px;
}
@media screen and (max-width: 750px) {
	.idk {
		width: 100%;
		display: grid;
		align-items: center;
		justify-self: center;
		height: 69%;
	}

	.update-img {
		width: 100%;
		height: 400px;
	}
	.b {
		height: 60%;
	}
	.user-info-name {
		font-size: 14px;
	}
	.update-name {
		height: 160px;
	}
}
@media screen and (max-width: 500px) {
	.user-images {
		width: 90vw;
	}
	.user-images-img {
		width: 100%;
	}
	.likes-and-name {
		width: 93vw;
	}
	.update-img {
		width: 100%;
		height: 370px;
	}
	.ab {
		height: 100%;
	}
	.b {
		height: 90%;
	}
}

/* @media screen and (max-width: 300px) {
	.user-imgs-links-area {
		overflow-x: auto;
	}
	.update-img {
		width: 200px;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
} */
